h1 {
    color: #ffffff;
    background: #4aaaa5;
    border: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #4aaaa5;
    background: #ffffff;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}