.header {
    overflow: hidden;
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom: 2px solid #cccccc;
}

.header :not(h1) a {
    float: left;
    color: #777777;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.Name {
    float: left;
    color: #ffffff;
    background: #4aaaa5;
    padding: 20px;
    border: 1px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.header-right {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.header :not(h1) a:hover {
    background-color: #ddd;
    color: black;
}

.header :not(h1) a:active {
    background-color: dodgerblue;
    color: white;
}

h1 {
    margin: 0;
}

h2 {
    color: #4aaaa5;
    background:#ffffff;
    padding-bottom: 30px;
    border-bottom: 4px solid #cccccc;
    font-size: 25pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 960px;
}

#parent-div{
    background: #ffffff;
    width: 50%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;   
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    border: 1px solid #cccccc;
    width: 960px;
}

p { 
    line-height: 1.6;
}

#Image {
    width: 180px;
    height: 270px;
    float: left;
    padding-right: 20px;
}

body {
    background-image: url("../images/Background.png");
    margin: 0;
}